
body{
    
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    cursor:default;
    height: 100%;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #0056b3;
}

.header left{
    display: flex;
    width: 50%;
    justify-content: start;
}

.header right{
    display: flex;
    width: 50%;
    justify-content: end;
}

.header ul{
    display: flex;
    margin: 6px;
}
.header li{
    display: flex;
    padding: 15px;
    border-radius: 12px;
    color: #eeeeee;
    transition: background-color 0.8s;
}
.header li:hover{
    background-color: #ffffff;
}
.header a{
    text-decoration: none;
    color: #eeeeee;
    cursor:grab;
}


.intro{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}



.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    color: #fff;
    background-color: #0056b3;
    margin-top: auto;
    margin-top: 30px;
}

.plateau{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.3rem;
}
#start{
    display: flex;
    min-width: 100px;
    min-height: 50px;
    max-width: 500px;
    margin: 10px;
    color: #fff;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border-bottom: #000;
    background-color: #0056b3;
    cursor:grab;
}

.grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 400px;
    min-width: 320px;
    padding: 2rem;
    flex: 1;
    color:#000; 
}
.square{
    text-decoration-line: none;
    color: rgb(48, 48, 48);
    font-size: 2.7rem;
    border-radius: 6px;
    background-color: rgba(250, 235, 215, 0.203);
    border: 2px solid antiquewhite;
}




.ligne {
    border: 3px solid red;
    border-radius: 6px;
    height: 100%;
    width: 100%;
}
